aside(class="subscribe l-panel" id="l-sidebar")
  header
    h1 Adventures in your inbox
    p Follow our adventures in sailing and simplicity aboard <i>Inch</i>.

  p.
    Browse our #[a(href="/archive") archives], read our #[a(href="/") most popular posts], or sign up to our newsletter below.

  form(
    class="signup" id="mc-embedded-subscribe-form"
    action="//drevasvoyage.us10.list-manage.com/subscribe/post?u=1b7389be94c19d30bf40c5c35&amp;id=95aa4c8f7b"
    method="post" target="_blank" novalidate
  )

    input(name="EMAIL" type="email" class="f" placeholder="Enter your email address" required)

    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
    div(style={ position: 'absolute', left: '-5000px' })
      input(type="text" name="b_1b7389be94c19d30bf40c5c35_95aa4c8f7b" tabindex="-1" value="")

    button(type="submit" value="Sign Up" class="btn") Sign Up
