div(role="contentinfo" class="contentinfo")
  a(href="/" class="permalink")= title
  p= tagline
  p.
    We'd love to sail with you. Call us on #[span(class="tel")= phone] or send a
    #[a(href="http://twitter.com/?status=@" + twitter) tweet] or #[a(href="mailto:" + email) email].

  small.
    Design and content &#169; #[a(href="/contact")= author]. All Rights Reserved.

//-  p.
//-    If you would like to use something #[a(href="#contact-link") get in touch].

//- a href="#<!-- $site-id -->" rel="internal" title="Scroll to the top" class="gototop" Top
