extends layout.pug

block title
  title= "Categories | " + site.title

block content
  article(class="cats archives page")
    header
      h1 Categories

      each file in files
        - title = file.title
        - posts = file.posts

        table(class= title.toLowerCase() + " category archive")
          thead(id= title)
            tr: th= title

          tbody
            each post in posts
              tr
                td.post-title: a(href="/blog/" + post.slug)= post.title
                td.post-date= post.date

    .end •
