extends layout.pug

block content
  section#fresh-off-the-press
    each file in files
      - title = file.title
      - slug = file.slug
      - date = file.date
      - content = file.content
      include includes/modules/post.pug
