doctype html
include includes/site/conditional.pug

  head
    block title
      title= site.title + ' — ' + site.tagline
    block meta
      include includes/site/head-meta.pug
    block styles
      include includes/site/stylesheets.pug
    block scripts
      include includes/site/scripts-head.pug
    block feeds
      include includes/site/feeds.pug
    block icons
      include includes/site/icons.pug

  body(class="blog" id= site.id)
    #l-wrap.wrap
      include includes/layout/header.pug

      main#l-main-content(role="main")
        block content

      include includes/layout/sidebar.pug
      include includes/layout/footer.pug
